@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;
@model Opticasion.Models.Cliente;
@{
    Cliente _cliente;
    try
    {
        _cliente = JsonConvert.DeserializeObject<Cliente>(Context.Session.GetString("cliente"));
    }
    catch (Exception)
    {
        // ...no hay variable de sesion de cliente logueado...
        _cliente = null;
    }

}

<!DOCTYPE html>
<html>
<head>
    <title>Panel de usuario</title>
    <!--LLAMAR CSS-->
    <link rel="stylesheet" href="~/css/mipanel.component.css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="menu-superior">
                <div>
                    <ul>
                        <li class="enl"><i class="fas fa-sign-out-alt" style="color: #b8c7ce;margin:3px 10px;"></i>@Html.ActionLink("Cerrar Sessión", "btnLogOut", "Cliente")</li>
                    </ul>
                </div>
            </div>
            <div class="col-5 cajon-externo">
                <div class="cajon-pan">
                    <div class="row perfil">
                        <div class="col-md-3">
                            <img src="~/img/iconoUsuario.jpg" alt="Alternate Text" width="80px" />
                        </div>
                        <div class="col-md-9">
                            <div class="col-12">
                                <h3><i class="fas fa-home"></i> Bienvenido a tu Panel</h3>
                            </div>
                            <div class="col-12">
                                <label>@_cliente.NickName</label>
                            </div>
                            <div class="col-12">
                                <p style="color:white;font-size: 11px;"><i class="fa fa-circle text-success" style=""></i> Online</p>
                            </div>
                        </div>
                    </div>
                    <hr style="background-color: #ffffffb5;">
                    <div class="enlaces-panel">
                        <ul>
                            <li>
                                <a asp-controller="Cliente" asp-action="DatosPerfil">
                                    <i class="far fa-user"></i><span> Mis datos</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="Cliente" 
                                   asp-action="ListadoPedidos"
                                   asp-all-route-data="@(new Dictionary<String, String>() { { "dni", @Model.DNI } });">
                                    <i class="fas fa-clipboard-check"></i><span> Mis pedidos</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
            <div class="col-7 body-panel">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>

<script>
</script>
