@model Opticasion.Models.Gafas;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    Cliente _cliente;
    try
    {
        _cliente = JsonConvert.DeserializeObject<Cliente>(Context.Session.GetString("cliente"));
    }
    catch (Exception)
    {
        // ...no hay variable de sesion de cliente logueado...
        _cliente = null;
    }

}
<tr class="caja-itemLista">
    <td>
        <label>@Model.GafasId</label>
    </td>

    <td>
        <img src="~/ImagenesProductos/@Model.FotoGafaString" width="150" alt="Alternate Text" />
    </td>

    <td>
        <label>@Model.Marca</label>
    </td>

    <td>
        <label>@Model.NombreModelo</label>
    </td>

    <td>
        <label style="color: #17a2b8;font-weight: 500;">@Model.PrecioProd.ToString() €</label>
    </td>

    <td>
        <a class="btnQuitarDeLista" asp-controller="Home" asp-action="QuitarGafaLista"
           asp-all-route-data="@(new Dictionary<String,String>() { { "id", Model.GafasId} })" onclick="return confirm_alert(this)">
            <i style="color: red;" class="far fa-times-circle fa-2x" title="Eliminar producto"></i>
        </a>
        <a class="btnEditarProducto" asp-controller="Home" asp-action="EditarProducto"
           asp-all-route-data="@(new Dictionary<String,String>() { { "id", Model.GafasId} })">
            <i class="fas fa-edit fa-2x" title="Modificar producto"></i>
        </a>
    </td>
</tr>
