@model Opticasion.Models.Gafas;
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    Cliente _cliente;
    try
    {
        _cliente = JsonConvert.DeserializeObject<Cliente>(Context.Session.GetString("cliente"));
    }
    catch (Exception)
    {
        // ...no hay variable de sesion de cliente logueado...
        _cliente = null;
    }

}
<div class="col-3 cajon-miniprod">
    <div class="row text-center" style="min-height: 165px;">
        <div class="col-md-12"style="min-height: 165px;">
            <a asp-controller="Tienda"
               asp-action="DetallesGafas"
               asp-all-route-data="@(new Dictionary<String, String>() { { "id", @Model.GafasId } });">
                <img src="~/ImagenesProductos/@Model.FotoGafaString" width="200" alt="Alternate Text" />
            </a>
        </div>
        <div class="col-md-7">
            <label class="marca">@Model.Marca</label>
            <label class="modelo">Modelo: @Model.NombreModelo</label>
        </div>
        <div class="col-md-5">
            <label class="precio"><strong>@Model.PrecioProd.ToString()€</strong></label>
        </div>
        <div class="col-12" style="min-height: 165px;">

            @if (_cliente != null)
            {
                <a class="btn-comprarTienda"
                   asp-controller="Pedido"
                   asp-action="AddGafaPedido"
                   asp-all-route-data="@(new Dictionary<string, string>() { { "id", Model.GafasId }, { "cantidad", "1"}  })">
                    COMPRAR
                </a>
            }
            else
            {
                <a class="btn-comprarTienda"
                   asp-controller="Cliente"
                   asp-action="Login">
                    Iniciar Sesion
                </a>
            }
        </div>
    </div>
</div>
