@model Pedido
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Finalizar compra";
}
   
@{
    Cliente _cliente;
    try
    {
        _cliente = JsonConvert.DeserializeObject<Cliente>(Context.Session.GetString("cliente"));
    }
    catch (Exception)
    {
        // ...no hay variable de sesion de cliente logueado...
        _cliente = null;
    }
}
<link rel="stylesheet" href="~/css/tienda.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.0/css/all.css" integrity="sha384-OLYO0LymqQ+uHXELyx93kblK5YIS3B2ZfLGBmsJaUyor7CpMTBsahDHByqSuWW+q" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <form method="post" asp-action="FinalizarPedido" asp-controller="Pedido" style="display: flex;">
            <!-----------------body con formulario para realizar pago e informacion de direcion del envio------>
            <div class="col-8">
                <div class="cajon-datos-pago">
                    <fieldset class="caja-datosPago">
                        <legend class="tituloPago">DATOS DE CLIENTE</legend>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input value="@_cliente.Nombre" id="nombre" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="dni">DNI</label>
                                    <input value="@_cliente.DNI" id="dni" type="text" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="apellidos">Apellidos</label>
                                    <input value="@_cliente.Apellidos" id="apellidos" type="text" class="form-control" disabled />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="telefono">Telefono</label>
                                    <input value="@_cliente.Telefono" id="telefono" type="text" class="form-control" disabled />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="caja-datosPago">
                        <legend class="tituloPago">DATOS DIRECCION DE ENVIO</legend>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="direccion">Direccion de envio</label>
                                    <input value="@_cliente.DireccionPrincipal.Calle" id="direccion" type="text" class="form-control" style="width:auto;" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputProvincia">Provincia</label>
                                    <select id="inputProvincia" asp-for="@_cliente.DireccionPrincipal.Provincia" class="form-control" disabled>
                                        @*@foreach (Provincia unaprov in (ViewData["listaProvincias"] as List<Provincia>))
                                        {
                                            <option value="@unaprov.CodPro">@unaprov.NombreProvincia</option>
                                        }*@
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputcp">Código Postal</label>
                                    <input value="@_cliente.DireccionPrincipal.CP" id="inputcp" type="text" class="form-control" style="width: 75px;" />
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputMunicipio">Localidad</label>
                                    <select id="inputMunicipio" asp-for="@_cliente.DireccionPrincipal.Localidad" class="form-control" disabled>
                                        @*@foreach (Municipio unmun in (ViewData["listaMunicipios"] as List<Municipio>))
                                        {
                                            <option value="@unmun.CodMun">@unmun.NombreMunicipio</option>
                                        }*@
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="caja-datosPago">
                        <legend class="tituloPago">DATOS DEL PAGO</legend>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="cuenta">Cuenta Bancaria (IBAN)</label>
                                    <input id="cuenta" asp-for="@Model.CuentaCliente" type="text" class="form-control" placeholder="ES66 0019 0020 9612 3456 7890" required/>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col">
                            <img src="~/img/tarjetas_credito.png" style="width: 300px;float: right;" />
                        </div>
                    </div>
                </div>
            </div>
            <!----------------------------------Panel con resumen del pedido----------------------------------->
            <div class="col-4">
                <div class="row caja-resumen-pedido">
                    <h3>TRAMITAR EL PEDIDO</h3>
                    <hr style="width: 100%;margin-top: 0;margin-bottom: 0;">
                    <p><strong> Entrega Prevista en 4-5 Días o puede recogerlo usted</strong></p>
                    <hr style="width: 100%;margin-top: 0;margin-bottom: 0;">
                    <div class="row" style="width: 100%;">
                        <div class="col-6">
                            <label>Subtotal</label>
                        </div>
                        <div class="col-6">
                            <label class="dato-pedido">@Model.SubTotalPedido.ToString() €</label>
                        </div>
                    </div>
                    <div class="row" style="width: 100%;">
                        <div class="col-6">
                            <label>Envio (Gostos de envío-Fijo)</label>
                        </div>
                        <div class="col-6">
                            <label class="dato-pedido">@Model.GastosEnvio €</label>
                        </div>
                    </div>
                    <hr style="width: 100%;margin-top: 0;margin-bottom: 0;">
                    <div class="row" style="width: 100%;">
                        <div class="col-6" style="padding-right: 0;">
                            <label style="font-size:20px;">Total del Pedido</label>
                        </div>
                        <div class="col-6">
                            <label class="dato-pedido" style="font-size:20px;">@Model.TotalPedido.ToString() €</label>
                        </div>
                    </div>
                    <div class="row" style="width: 100%;align-content: center;">
                        <div class="col-12" style="margin-left: 10%;">
                            <button type="submit" class="btn btnPagarPedido">
                                Realizar Pago
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>