@{
    ViewBag.Title = "Home";
}
@model FormularioContacto
<div class="container-fluid">
    @if (ViewBag.SuccessAlertFormu == true)
    {
        <div class="alert alert-info" role="alert" style="position: absolute;top: 112px;width: 100%;z-index: 10;">
            <label>Fomulario enviado correctamente, se le respondera en un plazo de 24h. Muchas gracias</label>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    @if (ViewBag.SuccessAlertFormu == false)
    {
        <div class="alert alert-info" role="alert" style="position: absolute;top: 112px;width: 100%;z-index: 10;">
            <label>Algo salio mal, por favor intentelo más tarde</label>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        <div class="col">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/slide1.jpg" class="d-block w-100" height="600">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/slide2.jpg" class="d-block w-100" height="674" width="1520">
                    </div>
                    <div class="carousel-item">
                        <img src="~/img/slide3.jpg" class="d-block w-100" max-height="524px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="separacion" />
    <div class="wow animate__animated animate__pulse animate__infinite	infinite">
        <a href="#" class="banner-oferta">
            <img src="~/img/bannerOfert.jpg" />
        </a>
    </div>
    <hr class="separacion" />
    <div class="row" style="padding-top: 10%;">
        <div class="col">
            <div class="banner-marcas">
                <h3>
                    Las mejores marcas
                </h3>
                <p style="color:#ff6400;">Al mejor precio</p>
            </div>
        </div>
        <div class="col">
            <div id="carrusel">
                <a href="#" class="left-arrow btn-left-right"><i class="fas fa-chevron-left"></i></a>
                <a href="#" class="right-arrow btn-left-right"><i class="fas fa-chevron-right"></i></a>
                <div class="carrusel">
                    <div class="product" id="product_0">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Police"><img src="~/img/marcas/police.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_1">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Dior"><img src="~/img/marcas/dior.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_2">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Fila"><img src="~/img/marcas/fila.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_3">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Lozza"><img src="~/img/marcas/lozza.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_4">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Ray Ban"><img src="~/img/marcas/rayban.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_5">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Tous"><img src="~/img/marcas/tous.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_6">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Emporio Armani"><img src="~/img/marcas/armani.jpg" width="190" height="auto" /></a>
                    </div>
                    <div class="product" id="product_7">
                        <a href="https://localhost:44367/Tienda/Buscar/Marca/Guess"><img src="~/img/marcas/guess.jpg" width="190" height="auto" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top:2%;margin-bottom:2%" />

    @*----------------------------CAJONES FOTO ELECCION CATEGORIAS----------------------*@
    <hr style="margin-top:2%;margin-bottom:2%" />
    <div class="row">
        <div class="col">
            <div class="cajonElegir">
                <div class="col-6 wow animate__animated animate__fadeInRight" style="float:right;">
                    <div class="col-12 cajonElegirImg" id="cajonElegirImg">
                        <a href="https://localhost:44367/Tienda/Buscar/IdCategoria/1"><img src="~/img/hombre.jpg" /></a>
                        <div class="col-12 caja-elegirCat" id="afectado">
                            <h2>MONTURAS para GRADUADAS</h2>
                            <p>Escoge entre cientos de monturas y luce tu mejor mirada.</p>
                            <div class="row ">
                                <div class="col-2">
                                    <a class="btn btn-info" href="https://localhost:44367/Tienda/Buscar/Genero/Montura%20Hombre">Hombre</a>
                                </div>
                                <div class="col-2">
                                    <a class="btn btn-info" href="https://localhost:44367/Tienda/Buscar/Genero/Montura%20Mujer">Mujer</a>
                                </div>
                                <div class="col-2">
                                    <a class="btn btn-info" href="https://localhost:44367/Tienda/Buscar/Genero/Montura%20Niño">Niños</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6 wow animate__animated animate__fadeInLeft">
                    <div class="col-12 cajonElegirImg" id="cajonElegirImg2">
                        <a href="https://localhost:44367/Tienda/Buscar/IdCategoria/2"><img src="~/img/miniMujer2.jpg" /></a>
                        <div class="col-12 caja-elegirCat" id="afectado2">
                            <h2>GAFAS de SOL</h2>
                            <p>Escoge entre cientos de gafas de sol y luce tu mejor mirada.</p>
                            <div class="row ">
                                <div class="col-2">
                                    <a class="btn btn-info" href="https://localhost:44367/Tienda/Buscar/Genero/Sol%20Hombre">Hombre</a>
                                </div>
                                <div class="col-2">
                                    <a class="btn btn-info" href="https://localhost:44367/Tienda/Buscar/Genero/Sol%20Mujer">Mujer</a>
                                </div>
                                <div class="col-2">
                                    <a class="btn btn-info" href="https://localhost:44367/Tienda/Buscar/Genero/Sol%20Niño">Niños</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="width:90%;margin-left: 5%;" />

    @*---------------------------------FORMULARIO DE CONTACTO---------------------------*@
    <div id="formularioCitas"><h2 class="d-flex justify-content-center">PIDE CITA YA</h2></div>
    <div class="row caja-fomulario">
        <div class="col-6 caja-fomulario-form">
            <form asp-action="Formulario" asp-controller="Home" method="post" class="contact-form row">
                <div class="form-field col x-25">
                    <input id="nombre" name="nombre" class="input-text js-input" type="text" required>
                    <label class="label" for="nombre"><b> Nombre</b></label>
                    <div>
                        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-field col x-25">
                    <input id="email" name="email" class="input-text js-input" type="email" required>
                    <label class="label" for="email"><b>E-mail</b></label>
                    <div>
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-field col x-25">
                    <input id="telefono" name="telefono" class="input-text js-input" type="text" required>
                    <label class="label" for="telefono"><b>Teléfono</b></label>
                    <div>
                        <span asp-validation-for="@Model.Telefono" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-field col x-25">
                    <input id="fecha" name="fecha" class="input-text js-input" type="date" required>
                    <label class="label" for="fecha"><b>Elija fecha</b></label>
                    <div>
                        <span asp-validation-for="@Model.Fecha" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-field col col-xs-3 x-100">
                    <label class="label" for="mensaje"><b>Cuentanos que deseas hacer..</b></label>
                    <textarea class="textareaFomulario" id="mensaje" name="mensaje" required></textarea>
                    <div>
                        <span asp-validation-for="@Model.Mensaje" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-field col x-100 align-center">
                    <input class="submit-btn" type="submit" value="Enviar">
                </div>
            </form>
        </div>
        <div class="col-6 caja-fomulario-Anuncio">
            <h2>¿Ya no usas esas viejas gafas?¿Quieres venderlas?</h2>
            <h4>No te lo pienses más y pide cita ahora desde este fomulario y traenos esas viejas gafas que ya no usas y llevate dinero por ellas!</h4>
        </div>
    </div>

    @*---------------------------------SECCION GARANTIAS WEB----------------------------*@
    <hr style="width:90%;margin-left: 5%;margin-top:7%;margin-bottom:2%" />
    <div class="row d-flex justify-content-center text-center caja-sellos mb-5" style="height: 200px;">
        <div class="col-12 mb-3">
            <h3>Puede estar tranquilo.</h3>
        </div>
        <div class="col-12 mb-4">
            <h5>Nuestros productos están revisados por personal altamente cualificado para garantizar productos originales</h5>
        </div>
        <div class="col-1"></div>
        <div class="col-md-2 col-12 sello wow animate__animated animate__pulse">
            <img src="~/img/pago_seguro.png" alt="imgGarantia-1" />
            <h5>Pagos seguros</h5>
            <label>Compra sin preocupaciones</label>
        </div>
        <div class="col-md-2 col-12 sello wow animate__animated animate__pulse">
            <img src="~/img/click_collect.png" alt="imgGarantia-2" />
            <h5>Click & Collect</h5>
            <label>Recoge tus pedidos en tu Óptica o te los traemos</label>
        </div>
        <div class="col-md-2 col-12 sello wow animate__animated animate__pulse">
            <img src="~/img/envioExpress.png" alt="imgGarantia-3" />
            <h5>Envios en 24-48h</h5>
            <label>Tus pedidos en casa,express</label>
        </div>
        <div class="col-md-2 col-12 sello wow animate__animated animate__pulse">
            <img src="~/img/garantiaOriginales.png" alt="imgGarantia-4" />
            <h5>Autenticidad</h5>
            <label>Ofrecemos productos orginales, nada de copias</label>
        </div>
        <div class="col-md-2 col-12 sello wow animate__animated animate__pulse">
            <img src="~/img/garSatisfac.png" alt="imgGarantia-5" />
            <h5>Garantía de satisfacción</h5>
            <label>Recoge tus pedidos en tu Óptica o te los traemos</label>
        </div>
        <div class="col-1"></div>
    </div>
    <hr style="width: 80%;margin-left: 10%;" />

    @* --------------------------------SECCION REDES SOCIALES-------------------------- *@
    <div class="row caja-redes-sociales d-flex align-items-center mb-2">
        <div class="col-md-12 d-flex justify-content-center">
            <label style="color: aliceblue;margin-top: 1vh;">Descubre más sobre Opticasion en: </label>
            <a class="ml-2 mr-2" target="_blank" href="https://es-es.facebook.com/"><i class="fab fa-facebook fa-2x"></i></a>
            <a class="ml-2 mr-2" target="_blank" href="https://mobile.twitter.com/?lang=es"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a class="ml-2 mr-2" target="_blank" href="https://www.youtube.com/?gl=ES&hl=es"><i class="fab fa-youtube fa-2x"></i></a>
            <a class="ml-2 mr-2" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
    </div>

    @* -------------------------------------SECCION MAPA------------------------------- *@
    <div class="wow animate__animated animate__fadeIn">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5939.729409505242!2d12.47806865240701!3d41.8957666836595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f604cdc2d78af%3A0xadf41a118aafa861!2sPlaza+Venezia!5e0!3m2!1ses!2ses!4v1518715791521" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    
    @*-----------------------------------------FOOTER-----------------------------------*@
    <footer>
        <div class="caja-footer wow animate__animated animate__fadeInDown" id="footer">
            <h1>ES HORA DE VENDER LO QUE NO NECESITAS</h1>
            <div class="row d-flex justify-content-center" style="padding:10px 0 10px 0;">
                <div class="col-md-6">
                    <img src="~/img/logoRecortado2.png" width="200" />
                    <a class="icono-social" href=""><i class="fas fa-phone"></i></a>901 23 41 51
                </div>
                <div class="col-md-6">
                    <div style="margin-left:30px;">

                        <a class="icono-social" href="mailto:florin19962@hotmail.com"><i class="fa fa-envelope"></i></a> Correo personal
                        <img src="~/img/formasPago.png" width="200" class="ml-3" alt="Formas de pago" />
                    </div>
                </div>
            </div>
        </div>
        <p>Esta página a sido creada y diseñado por <a style="color: #ff5555;" href="https://www.linkedin.com/in/florin-velea-643104109/" target="_blank">Florin Velea</a>. Todos los derechos reservados © 2020</p>
        <p>Alcalá de Henares, Madrid(España)</p>
    </footer>
</div>

<!-------------------------scripts------------------------------------->
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
@* Script carousel marcas *@
<script>
    var current = 0;
    var imagenes = new Array();

    $(document).ready(function () {
        var numImages = 6;
        if (numImages <= 3) {
            $('.right-arrow').css('display', 'none');
            $('.left-arrow').css('display', 'none');
        }

        $('.left-arrow').on('click', function () {
            if (current > 0) {
                current = current - 1;
            } else {
                current = numImages - 3;
            }

            $(".carrusel").animate({ "left": -($('#product_' + current).position().left) }, 600);

            return false;
        });

        $('.left-arrow').on('hover', function () {
            $(this).css('opacity', '0.5');
        }, function () {
            $(this).css('opacity', '1');
        });

        $('.right-arrow').on('hover', function () {
            $(this).css('opacity', '0.5');
        }, function () {
            $(this).css('opacity', '1');
        });

        $('.right-arrow').on('click', function () {
            if (numImages > current + 3) {
                current = current + 1;
            } else {
                current = 0;
            }

            $(".carrusel").animate({ "left": -($('#product_' + current).position().left) }, 600);

            return false;
        });
    });
</script>
@* Scripts cajones foto eleccion *@
<script>
    var cajonElegirImg = document.getElementById("cajonElegirImg");
    var afectado = document.getElementById("afectado");
    cajonElegirImg.addEventListener("mouseover", () => {
        afectado.className = "afectado";
    }, false)
    afectado.addEventListener("mouseover", () => {
        afectado.className = "sinAfectar";
    }, false)
    cajonElegirImg.addEventListener("mouseout", () => {
        afectado.className = "sinAfectar";
    }, false)
</script>
<script>
    var cajonElegirImg2 = document.getElementById("cajonElegirImg2");
    var afectado2 = document.getElementById("afectado2");
    cajonElegirImg2.addEventListener("mouseover", () => {
        afectado2.className = "afectado2";
    }, false)
    afectado2.addEventListener("mouseover", () => {
        afectado2.className = "sinAfectar2";
    }, false)
    cajonElegirImg2.addEventListener("mouseout", () => {
        afectado2.className = "sinAfectar2";
    }, false)
</script>
@* Script limitar fecha minima a la del dia que se cree la cita no pudiendo elegir anteriores dias *@
<script>
    let hoy = new Date();
    let dd = hoy.getDate();
    let mm = hoy.getMonth() + 1; //Enero es 1!
    let yyyy = hoy.getFullYear();
    if (dd < 10) {
        dd = '0' + dd
    }
    if (mm < 10) {
        mm = '0' + mm
    }
    hoy = yyyy + '-' + mm + '-' + dd;
    let fecha = document.getElementById("fecha");

    //fechadesde.max = ;
    fecha.min = hoy;
</script>
@* Script animacion scroll *@
<script>
    $(document).ready(function () {
        $(".enlaceScroll").click(function () {
            $('html,body').animate({
                scrollTop: $("#formularioCitas").offset().top
            }, 500);
        });
    });
</script>