@model Opticasion.Models.Cliente
@{
    Layout = "~/Views/Shared/_PanelPerfilCliente.cshtml";
}
@{
    ViewData["Title"] = "Perfil";
}
@using Microsoft.AspNetCore.Http;
@using Newtonsoft.Json;

@{
    Cliente _cliente;
    try
    {
        _cliente = JsonConvert.DeserializeObject<Cliente>(Context.Session.GetString("cliente"));
    }
    catch (Exception)
    {
        // ...no hay variable de sesion de cliente logueado...
        _cliente = null;
    }

}

<section class="container-fluid">
    <div class="row">
        @if (ViewBag.showSuccessAlert == true)
        {
            <div class="alert alert-success" role="alert">
                <label>Los datos se guardaron correctamente</label>
            </div>
        }
        @if (ViewBag.showSuccessAlert == false)
        {
            <div class="alert alert-danger" role="alert">
                <label>Se produjo un error al guardar los datos.</label>
            </div>
        }
        @* ------------------------------------------------------------------------------------------------------SECCION DE DATOS PERSONALES-------------------------------------------------------------------------------------------- *@
        <div class="col-lg-12 wow animate__animated animate__fadeInUp">
            <div class="caja-datosPanel">
                <div class="caja-header">
                    <h3 class="">Datos Personales</h3>
                </div>
                <hr />
                <form asp-action="UpdateDatosPersonales" asp-controller="Cliente" method="post">
                    <div class="container caja-body">
                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="nombre">Nombre</label>
                                    <input value="@_cliente.Nombre" id="nombre" asp-for="@Model.Nombre" type="text" class="form-control" placeholder="Tu nombre" required/>
                                    <div>
                                        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="nickname">Nick</label>
                                    <input value="@_cliente.NickName" id="nickname" asp-for="@Model.NickName" type="text" class="form-control" placeholder="Tu nick" required/>
                                    <div>
                                        <span asp-validation-for="@Model.NickName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="dni">DNI</label>
                                    <input value="@_cliente.DNI" id="dni" asp-for="@Model.DNI" type="text" class="form-control" placeholder="DNI" readonly/>
                                    <div>
                                        <span asp-validation-for="@Model.DNI" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="apellidos">Apellidos</label>
                                    <input value="@_cliente.Apellidos" id="apellidos" asp-for="@Model.Apellidos" type="text" class="form-control" placeholder="Tus apellidos" required/>
                                    <div>
                                        <span asp-validation-for="@Model.Apellidos" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="telefono">Telefono</label>
                                    <input value="@_cliente.Telefono" id="telefono" asp-for="@Model.Telefono" type="text" class="form-control" placeholder="tu telefono" required/>
                                    <div>
                                        <span asp-validation-for="@Model.Telefono" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <input value="@_cliente.CredencialesAcceso.Email" required id="email" asp-for="@Model.CredencialesAcceso.Email" type="text" class="form-control" style="display:none;" />
                            <div class="caja-inferior-footer">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @* ------------------------------------------------------------------------------------------------------SECCION DE DATOS DE ACCESO--------------------------------------------------------------------------------------------- *@
        <div class="col-lg-12 wow animate__animated animate__fadeInUp animate__delay-1s">
            <div class="caja-datosPanel">
                <div class="caja-header">
                    <h3 class="">Datos de Acceso</h3>
                </div>
                <hr />
                <form asp-action="UpdateDatosAcceso" asp-controller="Cliente" method="post">
                    <div class="container caja-body">
                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="email">Correo de acceso</label>
                                    <input value="@_cliente.CredencialesAcceso.Email" required id="email" asp-for="@Model.CredencialesAcceso.Email" type="text" class="form-control" placeholder="Teclee la nueva cuenta de correo" readonly/>
                                    <div>
                                        <span asp-validation-for="@Model.CredencialesAcceso.Email" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Password">Contraseña actual</label>
                                    <input value="@Model.CredencialesAcceso.Password" type="password" id="Password" asp-for="@Model.CredencialesAcceso.Password" class="form-control" placeholder="Contraseña actual" required/>
                                    <div>
                                        <span asp-validation-for="@Model.CredencialesAcceso.Password" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                           <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="RepPassword">Nueva Contraseña </label>
                                    <input value="@Model.CredencialesAcceso.RepPassword" type="password" id="RepPassword"  asp-for="@Model.CredencialesAcceso.RepPassword" class="form-control" placeholder="Nueva Contraseña" minlength="8" required/>
                                    
                                </div>
                            </div>
                            <div class="caja-inferior-footer">
                                <button type="submit" class="btn btn-info">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        @* ------------------------------------------------------------------------------------------------------SECCION DE DATOS DIRECCIONES------------------------------------------------------------------------------------------- *@
        <div class="col-lg-12 wow animate__animated animate__fadeInUp">
            <div class="caja-datosPanel">
                <div class="caja-header">
                    <h3 class="">Direccion de Envio</h3>
                </div>
                <hr />
                <form asp-action="UpdateDatosDireccion" asp-controller="Cliente" method="post">
                    <div class="container caja-body">
                        <div class="row mb-2">
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputAddress">Dirección principal</label>
                                    <input type="text" asp-for="@Model.DireccionPrincipal.Calle" class="form-control" id="inputAddress" placeholder="C/Nombre Calle, Número, Piso-Letra">
                                    <div>
                                        <span asp-validation-for="@Model.DireccionPrincipal.Calle" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputCP">Código Postal</label>
                                    <input type="text" asp-for="@Model.DireccionPrincipal.CP" class="form-control" id="inputCP" placeholder="28080">
                                    <div>
                                        <span asp-validation-for="@Model.DireccionPrincipal.CP" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputProvincia">Provincia</label>
                                    <select id="inputProvincia" asp-for="@Model.DireccionPrincipal.Provincia" class="form-control" required>
                                        <option value="0">Elija una provincia...</option>
                                        @foreach (Provincia unaprov in (ViewData["listaProvincias"] as List<Provincia>))
                                        {
                                            <option value="@unaprov.CodPro">@unaprov.NombreProvincia</option>
                                        }
                                    </select>
                                    <div>
                                        <span asp-validation-for="@Model.DireccionPrincipal.Provincia" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="inputMunicipio">Localidad</label>
                                    <select id="inputMunicipio" asp-for="@Model.DireccionPrincipal.Localidad" class="form-control" required>
                                        <option value="0">Elija una localidad...</option>
                                        @foreach (Municipio unmun in (ViewData["listaMunicipios"] as List<Municipio>))
                                        {
                                            <option value="@unmun.CodMun">@unmun.NombreMunicipio</option>
                                        }
                                    </select>
                                    <div>
                                        <span asp-validation-for="@Model.DireccionPrincipal.Localidad" class="text-danger"></span>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <input value="@_cliente.CredencialesAcceso.Email" required id="email" asp-for="@Model.CredencialesAcceso.Email" type="text" class="form-control" style="display:none;" />
                                </div>
                            </div>
                            @*
                             <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="modelo">Categoría</label>
                                    <select id="idcategoria" asp-for="@Model.IdCategoria" class="form-control" required>
                                        <option value="0" selected>Elija una categoria...</option>
                                        @foreach (Categorias unacatg in (ViewData["listaCategorias"] as List<Categorias>))
                                        {
                                            <option value="@unacatg.IdCategoria">@unacatg.NombreCategoria.ToString()</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            *@



                            <div class="caja-inferior-footer">
                                <button type="submit" class="btn btn-success">Guardar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
