@model Cliente
@{
    ViewData["Title"] = "Registro de usuario";
}

<link rel="stylesheet" href="~/css/registro.css" />
<div class="container-fluid" style="position:inherit">
    <form method="post" asp-action="Registro" asp-controller="Cliente">
        <div class="cajon-principal">
            <div class="cajon">
                <p style="text-align: right;padding-right: 2%;padding-top:2%;font-weight:400;font-size: 13px;color: #242424;">
                    Todos los campos marcados con<sup class="form-required-asterisk">*</sup> son obligatorios.
                </p>
                <fieldset class="caja-datos">
                    <legend class="titulo">DATOS DE ACCESO</legend>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="email">CORREO ELECTRÓNICO *</label>
                                <input type="text" class="form-control" id="email" asp-for="@Model.CredencialesAcceso.Email" placeholder="Direccion de email" required>
                                <div>
                                    <span asp-validation-for="@Model.CredencialesAcceso.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <p style="font-size: 12px;color: #666666;font-weight:400;"> Te enviaremos un correo electrónico para validar que tu dirección es correcta.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="password">CONTRASEÑA *</label>
                                <input type="password" class="form-control" id="password" asp-for="@Model.CredencialesAcceso.Password" placeholder="Minimo de 8 caracteres" required>
                                <div>
                                    <span asp-validation-for="@Model.CredencialesAcceso.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <p style="font-size: 12px;color: #666666;font-weight:400;">Su contraseña debe ser de 8 caracteres minimo.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="repassword">CONFIRMA TU CONTRASEÑA *</label>
                                <input type="password" class="form-control" id="repassword" placeholder="Confirmar contraseña" required>
                                <div>
                                    <span class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="caja-datos">
                    <legend class="titulo">DATOS DIRECCION DE ENVIO</legend>
                    <div class="form-group">
                        <p style="font-size: 12px;color: #666666;font-weight:400;"> Estos datos serviran para poder realizar los envios en sus futuras compras.</p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="inputAddress">Dirección de envio</label>
                                <input type="text" asp-for="@Model.DireccionPrincipal.Calle" class="form-control" id="inputAddress" placeholder="C/Nombre Calle, Número, Piso-Letra">
                                <div>
                                    <span asp-validation-for="@Model.DireccionPrincipal.Calle" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="inputCP">Código Postal</label>
                                <input type="text" asp-for="@Model.DireccionPrincipal.CP" class="form-control" id="inputCP" placeholder="28080">
                                <div>
                                    <span asp-validation-for="@Model.DireccionPrincipal.CP" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="inputProvincia">Provincia</label>
                                <select style="width: 410px;" id="inputProvincia" asp-for="@Model.DireccionPrincipal.Provincia" class="form-control">
                                    <option value="0" selected>Elija su provincia...</option>
                                    @foreach (Provincia unaprov in (ViewData["listaProvincias"] as List<Provincia>))
                                    {
                                        <option value="@unaprov.CodPro">@unaprov.NombreProvincia</option>
                                    }
                                </select>
                                <div>
                                    <span asp-validation-for="@Model.DireccionPrincipal.Provincia" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputLocalidad">Localidad</label>
                                <select style="width: 410px;" id="inputLocalidad" asp-for="@Model.DireccionPrincipal.Localidad" class="form-control" disabled>
                                    <option value="0" selected>Elija su localidad...</option>
                                </select>
                                <div>
                                    <span asp-validation-for="@Model.DireccionPrincipal.Localidad" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                    </div>
                </fieldset>

                <fieldset class="caja-datos">
                    <legend class="titulo" style="margin-top: -6.5%;">DATOS PERSONALES</legend>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label for="nombre">NOMBRE *</label>
                                <input type="text" class="form-control" id="nombre" asp-for="@Model.Nombre" placeholder="Nombre" required>
                                <div>
                                    <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="apellidos">APELLIDOS *</label>
                                <input type="text" class="form-control" id="Ape" asp-for="@Model.Apellidos" placeholder="Apellidos" required>
                                <div>
                                    <span asp-validation-for="@Model.Apellidos" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="nickname">Nick *</label>
                                <input type="text" class="form-control" id="nickname" asp-for="@Model.NickName" placeholder="Nick para la web" required>
                                <div>
                                    <span asp-validation-for="@Model.NickName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="dni">DNI *</label>
                                <input type="text" class="form-control" id="dni" asp-for="@Model.DNI" placeholder="DNI" required>
                                <div>
                                    <span asp-validation-for="@Model.DNI" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="telefono">Telefono *</label>
                                <input type="text" class="form-control" id="tel" asp-for="@Model.Telefono" placeholder="Telefono" required>
                                <div>
                                    <span asp-validation-for="@Model.Telefono" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <input  class="custom-control custom-checkbox" data-toggle="modal" data-target="#exampleModalLong" style="width: 20px;display: inline-block;margin: 5% 2% 0px 5%;" type="checkbox" asp-for="@Model.PoliticaPrivacidadDatos" id="checkCondicionesUso" title="Debe aceptar los terminos y condiciones." required>
                        <label style="width: 80%;" for="checkbox-1">Marcando esta casilla confirma que ha leído y acepta la <a style="text-decoration: underline;color:#242424" href="">informacion del servicio y protección de datos de carácter personal y Politica de Cookies</a></label>
                       
                        <!-- Button trigger modal -->
                        @*<button type="button" class="btn btn-primary" >
                            Launch demo modal
                        </button>*@

                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">POLÍTICA DE PRIVACIDAD</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                @* Terminos y condiciones *@
                            <div class="modal-body">
                                <p>
                                    El presente Política de Privacidad establece los términos en que Opticasion usa y protege la información que es proporcionada por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con los términos de este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para asegurarse que está de acuerdo con dichos cambios.
                                    Información que es recogida.
                                </p><br />
                                <p>
                                    Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,  información de contacto como  su dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún pedido o realizar una entrega o facturación.
                                    Uso de la información recogida
                                </p><br />
                                <p>
                                    Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios.  Es posible que sean enviados correos electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos productos y otra información publicitaria que consideremos relevante para usted o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a la dirección que usted proporcione y podrán ser cancelados en cualquier momento.
                                    Opticasion está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para asegurarnos que no exista ningún acceso no autorizado.
                                    Cookies
                                </p><br />
                                <p>
                                    Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web, y también facilita las futuras recurrente. Otra función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y por tanto brindarte el mejor servicio personalizado de su web.
                                    Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. Usted puede eliminar las cookies en cualquier momento desde su ordenador. Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información de su ordenador ni de usted, a menos de que usted así lo quiera y la proporcione directamente. Usted puede aceptar o negar el uso de cookies, sin embargo la mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor servicio web. También usted puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.
                                    Enlaces a Terceros
                                </p> <br />
                                <p>
                                    Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está de acuerdo con estas.
                                    Control de su información personal
                                </p><br />
                                <p>
                                    En cualquier momento usted puede restringir la recopilación o el uso de la información personal que es proporcionada a nuestro sitio web.  Cada vez que se le solicite rellenar un formulario, como el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo electrónico.  En caso de que haya marcado la opción de recibir nuestro boletín o publicidad usted puede cancelarla en cualquier momento.
                                    Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su consentimiento, salvo que sea requerido por un juez con un orden judicial.
                                    Opticasion Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.
                                </p>
                            </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            </div>
                        </div>       
                    </div>
                    <div>
                        <div>
                            <button type="submit" class="btn btnSubmit">
                                <span class="glyphicon glyphicon-ok">
                                    CONTINUAR <i class="fas fa-chevron-right"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
    <div>
    </div>
</div>

<!--script para hacer bordes de cajas en rojo cuando esta mal-->
<script>
    $(document).ready(function () {
        $(".input-validation-error").css("border-color", "red");
    });

    Array.from(document.getElementsByClassName("input-validation-error")).forEach((el) => el.style.borderColor = "red");
</script>
<!--script para peticion ajax recoger municipios-->
<script>
    function petAjax(codPro) {
        var _pet = new XMLHttpRequest();
        _pet.open('GET', 'https://localhost:44367/api/MunicipiosREST/' + codPro);
        _pet.addEventListener("readystatechange", (evt) => {
            if (_pet.status == 200 && _pet.readyState == 4) {
                var _municipios = JSON.parse(_pet.responseText);
                _municipios.forEach(
                    (muni) => {
                        var _opcEl = document.createElement("option");
                        _opcEl.setAttribute("value", muni.codMun)
                        _opcEl.appendChild(document.createTextNode(muni.nombreMunicipio));
                        dropMun.appendChild(_opcEl);
                    }
                );
            }
        });
        _pet.send();
    }
    //----------------------------------------------------------
     var dropMun = document.getElementById("inputLocalidad");
    document.getElementById("inputProvincia").addEventListener("change",
        (evt) => {
            Array.from(dropMun.childNodes).forEach(
                (nodo) => {
                    if (nodo.value != 0) {
                        dropMun.removeChild(nodo);
                    }
                }
            );

            if (evt.target.value != "0") {
                dropMun.removeAttribute("disabled");
                petAjax(evt.target.value);
            }
        }
    );
</script>
<!---script para lanzar modal de bootstrap de leer terminos y condiciones   (REVISAR, NO LANZA EL MODAL EL TRIGER DEL CHECK)-->
<script>
    $('#exampleModalLong').on('shown.bs.modal', function () {
        $('#checkCondicionesUso').trigger('focus')
    })
</script>